<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{{ title }}{% endblock %}
    </title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-warning">
                <span class="navbar-dark mb-0 h1">Robocast</span>
                <div class="col-md-8">
                <a class="btn btn-secondary" href="{{ url_for("main.index") }}"
                      role="button">Home </a>
                <a class="btn btn-secondary" href="{{ url_for("main.signup") }}"
                   role="button">Sign Up </a>
                <a class="btn btn-secondary" href="{{ url_for("main.users") }}"
                   role="button">Registered Users </a>
                </div>
                <div class="col-md-2">
                    <img src="../static/img/robot.png" alt="Robot placeholder image" width="200"
                         height="150">
                </div>
            </nav>
        </div>
    </div><br>
</div>
<main role="main" class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>
</body>
</html>