{% extends "base.html" %}
{% block title %} Rain forecast blog home page {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <h1>Rain forecast</h1>
            <p>Echo park disrupt heirloom, meditation keffiyeh pug vinyl pickled synth distillery. Vice pour-over stumptown, tumblr pug brooklyn flannel readymade raw denim pinterest portland helvetica. Health goth selvage vape, air plant +1 affogato messenger bag. Celiac everyday carry glossier brunch normcore. DIY ugh banh mi umami photo booth roof party migas vice church-key pok pok knausgaard hexagon thundercats organic vegan.</p>
            <p>Bicycle rights slow-carb green juice literally cardigan. Mumblecore everyday carry post-ironic distillery health goth church-key. Prism four loko kinfolk cardigan blue bottle viral live-edge, poutine migas direct trade master cleanse craft beer copper mug pinterest lumbersexual. Hot chicken sriracha cardigan unicorn, fashion axe quinoa master cleanse. Put a bird on it gochujang snackwave four dollar toast banjo gluten-free art party intelligentsia deep v authentic retro typewriter literally four loko. Kogi swag vegan, pok pok distillery taiyaki actually disrupt keytar kickstarter yuccie austin chillwave cardigan. Live-edge seitan listicle, chillwave kogi art party af keffiyeh letterpress.</p>
        </div>
    </div>
{% endblock %}