{% extends "base.html" %}
{% block title %} Rain forecast blog signup page {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    {% if form.errors %}
                        <p><strong>The form contains errors:</strong>
                        <ul>
                            {% for error in form.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>{{ form.username.label }}<br>{{ form.username(size=32) }}</p>
                        <p>{{ form.email.label }}<br>{{ form.email(size=32) }}</p>
                        <p>{{ form.submit() }}<dd><input type=submit value='Sign Up' class='btn btn-primary'></dd></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}