{% extends "base.html" %}
{% block title %} Rain forecast blog signup page {% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <form action="/action_page.php" method="post">
                    <label>Username: </label>
                    <input type="text" class="form-control" name="username" placeholder="Enter username" required><br>
                    <label>Email address: </label>
                    <input type="text" class="form-control" name="emailaddress" placeholder="Enter email address" required><br>
                </form>
                <button type="submit" class="btn btn-secondary">Sign Up</button>
            </div>
        </div>
    </div>
{% endblock %}